extends baseTemplate

block content 
  h1 This is dynamic course Overview
  div
    table.table-header
      thead
        tr
          th(scope='col') Customer Name
          th(scope='col') Phone Number
          th(scope='col') Address
          th(scope='col') Loan Amount
          th(scope='col') Interest 
          th(scope='col') Loan Term Years 
          th(scope='col') Loan Type 
      tbody
        each loan in loans  
          tr.table-secondary
            td=loan.customerName
            td=loan.phoneNumber
            td=loan.address
            td=loan.loanAmount
            td=loan.interest
            td=loan.loanTermYears
            td=loan.loanType
 
